<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ui.activities.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_lock"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.activities.HistoricalTempData"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.StartScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myproject.provisioning.DeviceSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.myproject.provisioning.EspMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_provision_landing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.AddDeviceActivity"
            android:label="@string/title_activity_provision_landing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.BLEProvisionLanding"
            android:label="@string/title_activity_connect_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.WiFiConfigActivity"
            android:label="@string/title_activity_wifi_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.ProvisionLanding"
            android:label="@string/title_activity_provision_landing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.ProvisionActivity"
            android:label="@string/title_activity_provisioning"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.myproject.provisioning.WiFiScanActivity"
            android:label="@string/title_activity_wifi_scan_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.myproject.provisioning.ProofOfPossessionActivity"
            android:label="@string/title_activity_pop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".ui.activities.MyService" />

        <receiver android:name=".ui.activities.NotificationReceiver" />
        <receiver android:name=".ui.activities.AlertReceiver" />
        <receiver android:name=".ui.activities.HeatOffReceiver" />
    </application>

</manifest>